    {% load static %}

    <!-- ***** Footer Start ***** -->
    <footer>
        <div class="container">
            <div class="row">

                <div class="col-lg-3">
                    <div class="first-item">
                        <div class="logo">
                            <!-- ***** Logo Start ***** -->
                            <a href="{% url 'home' %}" class="logo">
                                <img class="header_logo" src="{% static 'assets/images/logo/logo-footer-light.jpg' %}"
                                    alt="">
                            </a>
                            <!-- ***** Logo End ***** -->
                        </div>
                        <ul>
                            <li><a href="#">Gölcük, Turgut Özal Blv. No:174, 35667 Menemen/İzmir</a></li>
                            <li><a href="#"> (0543) 875 3481</a></li>
                            <li><a href="#"> (0543) 875 3490</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-3">
                    <h4>Kategoriler</h4>
                    <ul>
                        <li><a href="{% url 'home' %}#men">Satılık</a></li>
                        <li><a href="{% url 'home' %}#women">Kiralık</a></li>
                        <li><a href="{% url 'home' %}#kids">Arsalar</a></li>
                    </ul>
                </div>

                <div class="col-lg-3">
                    <h4>Sayfalar</h4>
                    <ul>
                        <li><a href="{% url 'home' %}">Anasayfa</a></li>
                        <li><a href="{% url 'products' %}">Emlak</a></li>
                        <li><a href="{% url 'about' %}">Hakkımızda</a></li>
                        <li><a href="{% url 'contact' %}">İletişim</a></li>
                    </ul>
                </div>
                <div class="col-lg-3">
                    <h4>Help &amp; Information</h4>
                    <ul>
                        <li><a href="#">Help</a></li>
                        <li><a href="#">FAQ's</a></li>
                        <li><a href="#">Shipping</a></li>
                        <li><a href="#">Tracking ID</a></li>
                    </ul>
                </div>
                <div class="col-lg-12">
                    <div class="under-footer">
                        <p>Copyright © 2022 Tek-Yıldız Emlak. All Rights Reserved.
                            <br>
                            Design:
                            <a href="https://github.com/Mr-Mesut-OZTURK" target="_blank" title="full stack developer">
                                Mr. Mesut
                            </a>
                        </p>
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-mail-forward"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>