{% extends "base/_base.html"%}
{% load static %}

{% block content %}

<!-- ***** Main Banner Area Start ***** -->
<div class="page-heading about-page-heading" id="top">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="inner-content">
                    <h2>Bizimle İletişime Geçin</h2>
                    <span>Kaliteli &amp; Güvenilir Hizmet </span>
                    <address>
                        <span>
                            Gölcük, Turgut Özal Blv. No:174, 35667 Menemen/İzmir
                        </span>
                        <br>
                        <br>
                        <a class="fa fa-whatsapp" href="whatsapp:905438753481">
                            (0543) 875 3481
                        </a>
                        <br>
                        <a class="fa fa-whatsapp" href="whatsapp:90543875349">
                            (0543) 875 3490
                        </a>
                    </address>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ***** Main Banner Area End ***** -->

<!-- ***** Contact Area Starts ***** -->
<div class="contact-us">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-heading">
                    <h2>Çayımızı içmeye bekleriz!</h2>
                    <span>Gayrimenkul danışmanlığı ile ilgili her türlü sorunuzu bekliyoruz.</span>
                </div>
                <div id="map">
                    <!-- <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d90186.37207676383!2d-80.13495239500924!3d25.9317678710111!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88d9ad1877e4a82d%3A0xa891714787d1fb5e!2sPier%20Park!5e1!3m2!1sen!2sth!4v1637512439384!5m2!1sen!2sth"
                        width="100%" height="400px" frameborder="0" style="border:0" allowfullscreen>
                    </iframe> -->


                    <!-- You can simply copy and paste "Embed a map" code from Google Maps for any location. -->
                    <iframe
                        src="https://maps.google.com/maps?q=G%C3%B6lc%C3%BCk,%20Turgut%20%C3%96zal%20Blv.%20No:174,%2035667%20Menemen/%C4%B0zmir&t=&z=15&ie=UTF8&iwloc=&output=embed"
                        width="100%" height="400px" frameborder="0" style="border:0" allowfullscreen>
                    </iframe>
                </div>

            </div>
            <div class="col-lg-6">
            

                <!-- <form id="contact" action="" method="post">
                    <div class="row">
                        <div class="col-lg-6 mb-4">
                            <fieldset>
                                <input name="name" type="text" id="name" placeholder="Your name" required="">
                            </fieldset>
                        </div>
                
                        <div class="col-lg-6">
                            <fieldset>
                                <input name="email" type="text" id="email" placeholder="Your email" required="">
                            </fieldset>
                        </div>
                        <div class="col-lg-12">
                            <fieldset>
                                <textarea name="message" rows="6" id="message" placeholder="Your message"
                                    required=""></textarea>
                            </fieldset>
                        </div>
                        <div class="col-lg-12">
                            <fieldset>
                                <button type="submit" id="form-submit" class="main-dark-button w-100">
                                    <i class="fa fa-paper-plane"></i>
                                </button>
                        </div>
                    </div>
                </form> -->

                <form method="post">
                    {% csrf_token %}
                    {{ form }}

                    <input type="submit" id="form-submit" class="btn main-dark w-100" value="GÖNDER"/>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- ***** Contact Area Ends ***** -->

{% endblock %}