{% extends "base/_base.html"%}
{% load static %}
{% load humanize %}


{% block content %}



<!-- ***** Main Banner Area Start ***** -->
<div class="page-heading" id="top">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="inner-content">
                    <h2>Tekin Emlak</h2>
                    <span>Deneyimli &amp; En uygun</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ***** Main Banner Area End ***** -->


<!-- ***** Products Area Starts ***** -->
<section class="section" id="products">

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading">
                    <h2 class="mb-3">Emlaklarımız</h2>
                        {% for kategori in kategoriler %}
                        <a href="{% url 'category' kategori.isim %}" class="btn btn-outline-warning {% if kategori.isim in request.path %} active {% endif %}">{{ kategori.isim }}</a>
                        {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">


            {% for emlak in emlaklar %}
            <div class="col-lg-4">
                <div class="item">

                    <div class="thumb">
                        <div class="hover-content">
                            <ul>
                                <li><a href="{% url 'productdetails' emlak.id %}"><i class="fa fa-eye"></i></a></li>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                <!-- <li><a href="single-product.html"><i class="fa fa-shopping-cart"></i></a></li> -->
                            </ul>
                        </div>
                        <img src="{{ emlak.resim.url }}" alt="">
                    </div>

                    <div class="down-content">
                        <h4>{{ emlak.baslik }}</h4>
                        <span>{{emlak.fiyat | intcomma }} TL</span>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</section>
<!-- ***** Products Area Ends ***** -->

{% endblock %}